<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Document</title>
</head>
<body>
    <section class="mainBody">   
<section class="container ">

<div class="daily-card-grid">
    <div class="daily-card card dailycard1">
    <h2><%= user.userName %>, this is your Table and Graph Summary Page.</h2>
    <br>
    <p><i class="fa fa-arrow-right" aria-hidden="true"></i> Your starting weight was:  <span><%=weightData[0].dbstartweight %></span> pounds.  </p>
    <p><i class="fa fa-arrow-right" aria-hidden="true"></i> Your goal weight is: <span><%=weightData[0].dbstartweight-35*weightData[0].dbgoaldeficit/3500 %></span> pounds.</p>
    <p><i class="fa fa-arrow-right" aria-hidden="true"></i> You should reach your goal if you average  <span><%=weightData[0].dbgoaldeficit %></span> per day calorie deficit for 35 days.</p>
    </div>

    <div class="daily-card card dailycard2">
        <h2>Instructions</h2>
        <br>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i> Starting on Day 1, click on the blue Day # cell in the table. </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i> This will take you to a form where you will enter 3 Numbers:</p>
        <p class="indent">1.  Your weight THIS MORNING.</p>
        <p class="indent">2.  The calories you consumed YESTERDAY.</p>
        <p class="indent">3.  The calories you burned YESTERDAY.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i> These numbers will automatically enter into the table.  Continue entering data each day.  Be sure to enter your days in order.</p>
        </div>   
    </div>

<section>
    <div class="daily-card card table-card">
    <table class="table">
        <caption>Weight Data Table</caption>
        <thead>
        <tr>
            <th>Day #</th>
            <th>Morning Weight</th>
            <th>Daily Goal Weight</th>
            <th>Predicted Weight (based on calorie deficit)</th>
            <th>Calories In</th>
            <th>Calories Out</th>
            <th>Daily Calorie Deficit</th>
            <th>Average Calorie Deficit</th>
        </tr>
        </thead>
        <tbody>
            <%for (let i=0; i<1; i++){%>
                <% if(i<weightData.length-1){j=i+1} %>
                <tr>
                    <td><%=weightData[i].dbtodaysdaynumber%></td>
                    <td><%=weightData[i].dbtodaysweight%></td>
                    <td><%=weightData[i].dbdailygoalweight.toFixed(1)%></td>
                    <td><%=weightData[i].dbrunningpredictedweight %></td>
                    <td><%=weightData[j].dbyesterdaycalin%></td>
                    <td><%=weightData[j].dbyesterdaycalout%></td>
                    <td><%=weightData[j].dbyesterdaydeficit%></td>
                    <td><%=weightData[j].dbrunningavgdeficit%></td>
                </tr>               
            <%}%>
            <%for (let i=1; i<weightData.length-1; i++){%>
                <% if(i<weightData.length-1){j=i+1} %>
                <tr>
                    <td><a href="/entry/<%= weightData[i]._id %>"></a><%=weightData[i].dbtodaysdaynumber%></td>
                    <td><%=weightData[i].dbtodaysweight%></td>
                    <td><%=weightData[i].dbdailygoalweight.toFixed(1)%></td>
                    <td><%=weightData[i].dbrunningpredictedweight %></td>
                    <td><%=weightData[j].dbyesterdaycalin%></td>
                    <td><%=weightData[j].dbyesterdaycalout%></td>
                    <td><%=weightData[j].dbyesterdaydeficit%></td>
                    <td><%=weightData[j].dbrunningavgdeficit%></td>
                </tr>               
            <%}%>
            <%for (let i=35; i<36; i++){%>
                <tr>
                    <td><a href="/entry/<%= weightData[i]._id %>"></a><%=weightData[i].dbtodaysdaynumber%></td>
                    <td><%=weightData[i].dbtodaysweight%></td>
                    <td><%=weightData[i].dbdailygoalweight.toFixed(1)%></td>
                    <td><%=weightData[i].dbrunningpredictedweight %></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</section>


<section class="chart">
    <div class="daily-card card table-card">
    <div class="chart-container" style="position: relative">
        <canvas id="dailyChart" width="400" height="400"></canvas>
    </div>
    </div>
    <script>
        const labelArray=[]
        for (i=0; i<=35; i++){
        labelArray[i]=i
        }

 

var goalweightdata= JSON.parse(`<%- JSON.stringify(weightData) %>`);

var labelsgoalweight = [];
for(var i = 0; i < goalweightdata.length; i++){
   labelsgoalweight.push(goalweightdata[i].dbdailygoalweight);
}
var labelscurrentweight = [];
for(var i = 0; i < goalweightdata.length; i++){
   labelscurrentweight.push(goalweightdata[i].dbtodaysweight);
}
var labelspredictedweight = [];
for(var i = 0; i < goalweightdata.length; i++){
   labelspredictedweight.push(goalweightdata[i].dbrunningpredictedweight);
}

        const data = {
              labels: labelArray,
              datasets: [
                {type:'line',
                label: 'Goal Weight',
                backgroundColor: '#f6ab03',
                borderColor: '#f6ab03',
                data:labelsgoalweight,
                 },
                {type: 'line',
                label:'Actual Weight',
                borderColor:"#ffffff",
                backgroundColor:"#586308",
                data: labelscurrentweight,
                pointRadius: 10,
                },
                {type: 'line',
                label:'Predicted Weight',
                borderColor:"#d82e49",
                backgroundColor:"#d82e49",
                data: labelspredictedweight,
                }
            ]
            };
        const config = {
              type: 'line',
              data: data,
              options: {  plugins:{legend:{ display: true,
                    labels: { color: '#00000' }
                  } }  }
              };
         </script>

        <script>
            const dailyChart = new Chart(
              document.getElementById('dailyChart'),
              config
            );
        </script>

    </section>

</section>
<a class="btn" href="/logout">Logout</a>
</body>
</html>
